{%load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/cube.css' %}">
    </head>
    <body>
        <div class="foo">
                        <span class="letter" data-letter="W">W</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="L">L</span>
                        <span class="letter" data-letter="C">C</span>
                        <span class="letter" data-letter="O">O</span>
                        <span class="letter" data-letter="M">M</span>
                        <span class="letter" data-letter="E">E</span>
                        <br><span class="letter" data-letter="T">T</span>
                        <span class="letter" data-letter="O">O</span>
            <div class="container">
                <div class="card">
            <br><a href="{% url 'users:logout' %}"><span class="letter" data-letter="L O G I N">L O G I N</a></span>
                </div>
            </div>
          </div>
    </body>